altair==5.5.0
bokeh==3.6.2
folium==0.19.4
graphviz==0.20.3
matplotlib==3.10.0
numpy==2.2.2
pandas==2.2.3
plotly==5.24.1
pydeck==0.9.1
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.6.1
seaborn==0.13.2
streamlit==1.41.1
streamlit_authenticator==0.4.1
streamlit_folium==0.24.0
transformers==4.48.1
